@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #020617;
  color: #f8fafc;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #020617 100%);
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
